{#include base.html}
{#links}
<script src="assets/js/addFunctions.js" type="text/javascript"></script>
{/links}
{#content}
<input id="addname" class="form-control" type="text" placeholder="Введите название добавляемого объекта">
<input id="addadr" class="form-control" type="text" placeholder="Введите адрес добавляемого объекта">
<input id="addpoints" class="form-control" type="text" placeholder="Введите точки добавляемого объекта">

<button type="submit" id="addbtn" class="btn btn-primary">Добавить</button>

<form action="/">
    <button type="submit" name="backbtn" class="btn btn-primary">Назад</button>
</form>

{/content}
{/include}