{#include base.html}
{#content}
<h1 class="page_name">Admin panel</h1>
<main>
    <div class="bts">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <form id="upload_form" action="/api/db/upload" method="post" enctype="multipart/form-data">
                    <label for="file">Choose .osm file to upload</label>
                    <input id="file" name="uploadedFile" type="file" multiple>
                    <button id="upload_btn" class="btn btn-secondary" type="submit">
                        Upload
                    </button>
                </form>
            </div>
        </div>
        <div>
            <a class="btn btn-secondary" href="/api/db/drop">
                Drop database
            </a>
        </div>
    </div>
</main>
<footer>
    <img src="assets/images/icon.png" alt="">
</footer>
{/content}
{/include}