{#include base.html}
{#links}
<!--Подключаем яндекс карты-->
<script src="https://api-maps.yandex.ru/2.1/?apikey=3f8c1db2-2338-411e-a960-9a6015500eec&lang=ru_RU" type="text/javascript">
</script>

<script src="assets/js/formFunctions.js" type="text/javascript"></script>
{/links}
{#content}
<header>
    <input id="from" required class="form-control" type="text" placeholder="Откуда">
    <input id="to" required class="form-control" type="text" placeholder="Куда">
</header>
<main>
    <div class="map" id="map_canvas"></div>

    <div class="butt">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Опции
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/search">Поиск</a>
                <a class="dropdown-item" href="/data">Импорт</a>
                <a class="dropdown-item" href="#">Экспорт</a>
            </div>
        </div>
            <button type="submit" id="searchbtn" class="btn btn-primary">Найти</button>
    </div>
</main>
<footer>
    <img src="assets/images/icon.png" alt="">
</footer>
{/content}
{/include}
