body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

    display: flex;
    align-items: center;
    flex-flow: column wrap;
    color: #000000;
}

header {

    align-items: center;
    flex-flow: column wrap;
}

p {
    margin-top: 3%;
    margin-bottom: 1%;
}

p.rainm {
    margin-top: 0;
}

p.allm {
    margin-top: 0;
}

input {
    height: 44px;
    margin: 2%;
    align-items: stretch;
    width: 680px;
}

input.form-control {
    display: flex;
    align-items: center;
    width: 680px;
    margin: 2%;
}

/*
main {
    display: flex;
    flex-direction: column;
}*/

div.bts {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

/*

footer {
    display: flex;
    justify-content: center;
}*/
table {
    margin: 3%;
}

div.map {
    width: 685px;
    height: 400px;
    margin: 3%;
}
